.Home {
  color: grey;
 
  text-align: center;
  background-color: lightgreen;
  height: 120vh;
}
h1 {
  padding-top: 120px;
}
h3 {
  padding-top: 80px;
}
.Home button {
  height:60px;
  width:130px;
  border-radius: 50px 50px 50px 50px;
  background-color: lightgreen ;
  border-color: none;
  
  box-shadow: 0.6px 6px 7px 0px black;
  font-weight: 800px;
  
}
.Home button:hover {
  background-color: grey;
  box-shadow: none;
}
.Homepage button {
  height:60px;
  width:130px;
  border-radius: 50px 50px 50px 50px;
  background-color: lightgreen ;
  border-color: none;
  
  box-shadow: 0.6px 6px 7px 0px black;
  font-weight: 800px;
  
}
.Homepage button:hover {
  background-color: grey;
  box-shadow: none;
}

.Queries button {
  height:60px;
  width:130px;
  border-radius: 50px 50px 50px 50px;
  background-color: lightgreen ;
  border-color: none;
  
  box-shadow: 0.6px 6px 7px 0px black;
  font-weight: 800px;
  
}
.Queries button:hover {
  background-color: grey;
  box-shadow: none;
}
 
.Navbar a {
  
  text-decoration: none;
  padding-right: 151.1px;
  background-color:(128, 128, 128, 0.11) ;
  color: black;
  font-size: 25px;
}
.Navbar {
  padding-top:0px;
  
position:fixed;
  height:50px;
  background-color: rgba(128, 128, 128, 0.212);
 
 
}
.Homepage {
 
  height: 110vh;
  background-color: grey;
  text-align: center;

}
.Homepage img {
float: left;
margin-left: 80px;
border-radius: 40px 40px 40px 40px;
box-shadow: 0.8px 8px 7px 4px black;
}
.Homepage h1 {
  padding-top:20px;
  color: lightgreen;
}
.Homepage h2 {
  padding: 30px;
}
.Homepage h3 {
  padding-top: 30px;
  font-size: 20px;
  color: lightgreen;
}
li {
  font-size: 20px;
  list-style-type: upper-roman;
  list-style-position: inside;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:hover {
  color: white;
  
}
.Hobbies {
height: 120vh;
background-color: lightgreen;

}
.Skills h1 {
  padding-top: 10px;
  text-align: center;
  color: grey;
}
.Skills img{
margin-left: 250px;
}
.Info {
  background-color: grey;
  height: 110vh;
}
.Info h1{
  text-align: center;
  padding: 10px;
  color: lightgreen;
}
.Info h2 {
  text-align:center;
}
.Info img {
  padding-top: 30px;
  margin-left: 180px;
 box-shadow:  0.8px 6px 7px 4px black;
}
.Info h3 {
  text-align: center;
  padding: 2px;
  font-size: 22px;
  color: lightgreen;
}
.Queries {
  height: 100vh;
  background-color: lightgreen;
}
.Queries h1 {
  padding-top: 10px;
  color: grey;
  text-align: center;
}
.Queries h2 {
  margin-left: 30px;
}
textarea {
  height:300px;
  width: 700px;
  margin-left: 50px;
  font-size: 30px;
  
 
}
.Queries button {
margin: 20px;
}
h4 {
  font-size: 30px;
  color: grey;
  margin-left: 40px;
}
